////////////////////////////////////////////////
//// HEADER
.logo {
    margin-left: 2rem;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 40%;

    @media only screen and (max-width: 970px) {
        order: 1;
        flex: 0 0 100%;
    }

    &__input {
        width: 90%;
        margin-right: -3.5rem;
        padding: 1rem 1rem;
        font-weight: 400;
        border-radius: 100px;
        border: none;
        background: var(--color-grey-light-3);
        transition: width .3s;

        @media only screen and (max-width: 970px) {
            
        }

        &:focus {
            width: 100%;
        }
    }

    &__button {
        border: none;
        color: var(--color-grey-dark-3);
    }
}

.user-nav {
    display: flex;
    align-items: center;
    align-self: stretch;

    & > * {
        height: 100%;
        cursor: pointer;
        padding: 0 2rem;

        display: flex;
        align-items: center;

        &:hover {
            background: var(--color-grey-light-2);
        }
    }

    &__icon {
        position: relative;
        
        i {
            font-size: 2rem;
            color: var(--color-grey-dark-2);
        }

        &-notification {
            position: absolute;
            top: 1.6rem;
            right: 1.1rem;

            background: var(--color-primary);
            border-radius: 50%;
            color: #fff;
            width: 1.75rem;
            height: 1.75rem;
            font-size: 0.9rem;
            font-weight: bold;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__user {

        &-image {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
        }

        &-name {
            margin-left: 1rem;
            font-size: 1.25rem;
            font-weight: 400;
        }
    }
}


///////////////////////////////////////////////
//// NAVSIDE
.nav__side {
    margin-top: 3rem;
    list-style: none;
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: 970px) {
        flex-direction: row;
        margin-top: 0;
    }

    i {
        @media only screen and (max-width: 970px) {
            display: none;
        }
    }

    &-list:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    &-list {
        text-align: center;
        width: 100%;

        @media only screen and (max-width: 970px) {
            margin: 0;
            text-align: center;
        }

        &--active {
            background: var(--color-primary);
        }
    }

    &-list:hover {
        background: var(--color-primary);
    }

    &-link:link,
    &-link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        font-weight: 300;
        padding: 1.5rem 3rem;
        text-transform: uppercase;

        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;

        @media only screen and (max-width: 970px) {
            padding: 1rem;
        }
    }

    &-name {
        margin-left: 1rem;

        @media only screen and (max-width: 970px) {
            text-align: center;
            margin: 0 auto;
        }
    }
}


///////////////////////////////////////////////
//// HOTEL VIEW
.gallery {
    display: flex;

    &__item {
        position: relative;
        overflow: hidden;
    }

    &__image {
        display: block;
        width: 100%;
        height: 100%;
    }

    &__caption {
        position: absolute;
        top: -100%;
        left: 0;

        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;

        transition: top .3s;
    }

    &__item:hover &__caption {
        top: 0;
    }
}

.overview {
    display: flex;
    align-items: center;
    border-bottom: var(--line);

    @media only screen and (max-width: 970px) {
        flex-direction: column;
    }

    &__heading {
        padding: 1.5rem 3rem;
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &__icon-star {
        color: var(--color-primary);
    }

    &__stars {
        margin-right: auto;

        @media only screen and (max-width: 970px) {
            margin: 0 auto;
            margin-bottom: 1rem;
        }
    }

    &__rating {
        background: var(--color-primary);
        color: #fff;
        padding: 0 2.25rem;
        margin-left: 2rem;
        
        display: flex;
        align-self: stretch;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media only screen and (max-width: 970px) {
            margin: 0;
            margin-top: 1rem;
        }

        &-average {
            font-size: 2rem;
            font-weight: bold;
        }

        &-count {
            font-size: 1rem;
        }
    }

    &__location-icon {
        font-size: 1.3rem;
        color: var(--color-primary);
        margin-right: .3rem;
    }
}

.description {
    flex: 0 0 60%;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-right: 3rem;

    @media only screen and (max-width: 970px) {
        margin-right: 0;
        margin-bottom: 3rem;
    }

    .paragraph:not(:last-child) {
        margin: 1rem 0;
    }

    .paragraph {
        text-align: justify;
    }

    .list {
        border-top: var(--line);
        border-bottom: var(--line);
        padding: 3rem 0;
        list-style: none;
        margin: 3rem 0;
        text-align: center;

        display: flex;
        flex-wrap: wrap;
        

        &__item {
            margin-bottom: 0.7rem;
            flex: 0 0 50%;
        }

        &__item::before {
            content: ">";
            color: var(--color-primary);
            margin-right: .5rem;
            font-weight: bold;
            font-size: 1rem;
        }
    }

    .recommend {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__photo {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            border: 3px solid #fff;
        }

        &__photo:not(:last-child) {
            margin-right: -1.25rem;
        }
    }
}

.user-reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .review {
        background: #fff;
        box-shadow: var(--shadow-light);
        margin-bottom: 3rem;
        padding: 3rem;
        position: relative;
        overflow: hidden;

        @media only screen and (max-width: 970px) {
            padding: 2rem;
        }

        &__text {
            text-align: justify;
            margin-bottom: 1rem;
        }

        &__user {
            display: flex;
            align-items: center;

            &-box {
                margin-right: auto;
            }

            &-name {
                font-weight: bold;
            }

            &-date {
                font-size: 1rem;
            }
        }

        &__photo {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            margin-right: 1rem;
        }

        &__rating {
            font-size: 2rem;
            color: var(--color-primary);
            font-weight: bold;
        }
    }
}

.cta {
    padding: 3.5rem 0;
    text-align: center;

    &__book-now {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 2.5rem;
    }
}